# Ignore Python cache and virtual environments
__pycache__/
*.pyc
.venv/

# Ignore IDE config files
.vscode/
.idea/

# Ignore all files in the output directory
output/


# Ignore a specific file
nohup.out
src/map/Hornsgatan.osm
# Ignore all `.log` files
*.log

# Ignore everything in data folder except demand.csv
data/*
!data/map/
!data/calibration_data/
!data/raw_data/

data/map/*
!data/map/Hornsgatan.net.xml
