# Ignore Python cache and virtual environments
__pycache__/
*.pyc
.venv/

# Ignore IDE config files
.vscode/
.idea/

# Ignore all files in the output directory
output/

# Ignore a specific file
nohup.out
src/map/Hornsgatan.osm
config.ini

# Ignore all `.log` files
*.log
*.zip

# Ignore everything in data folder except demand.csv
data/calibration_data/*
!data/calibration_data/.gitkeep

data/daily_splitted_data/*
!data/daily_splitted_data/.gitkeep

data/calibration_intermediate_data/*
!data/calibration_intermediate_data/.gitkeep

data/sim_data/*
!data/sim_data/.gitkeep

data/sim_intermediate_data/*
!data/sim_intermediate_data/.gitkeep

data/calibration_data/*
!data/calibration_data/.gitkeep

data/map/*
!data/map/Hornsgatan.net.xml
